<section class="py-5">
  <div class="container">
    <div class="card">
      <article class="card-body mx-auto">
        <h4 class="card-title mt-3 mb-3 text-center">EDIT ESSENCE</h4>
        <%= render 'form' %>
      </article>
    </div> <!-- card.// -->
    <%= link_to 'Back', products_path, class: "btn btn-outline-primary mt-3 mb-3" %>
  </div>
</section>